{% extends "base.html" %}

{% block content %}
<form class="ui form" action="/courses/edit/{{ form.id }}" method="post">
    {% csrf_token %}
    <h4 class="ui dividing header">课程信息</h4>
    <div class="two fields">
        <div class="field">
            <label for="">课程编号</label>
            <div class="ui input icon">
                <i class="info icon"></i>
                <input readonly name="id" value="{{ form.id }}">
            </div>
            {% if form.id.errors %}
            <div class="ui message">
                {{ form.id.errors }}
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label for="">课程名称</label>
            <div class="ui input icon">
                <i class="book icon"></i>
                {{ form.name }}
            </div>
            {% if form.name.errors %}
            <div class="ui message">
                {{ form.name.errors }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="">开课院系</label>
            <div class="ui input icon">
                <i class="student icon"></i>
                {{ form.college }}
            </div>
            {% if form.college.errors %}
            <div class="ui message">
                {{ form.college.errors }}
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label for="">上课教室</label>
            <div class="ui input icon">
                <i class="building icon"></i>
                {{ form.classroom }}
            </div>
            {% if form.classroom.errors %}
            <div class="ui message">
                {{ form.classroom.errors }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="">学分</label>
            <div class="ui input icon">
                <i class="write icon"></i>
                {{ form.score }}
            </div>
            {% if form.score.errors %}
            <div class="ui message">
                {{ form.score.errors }}
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label for="">最大学生人数</label>
            <div class="ui input icon">
                <i class="users icon"></i>
                {{ form.max_student_number }}
            </div>
            {% if form.max_student_number.errors %}
            <div class="ui message">
                {{ form.max_student_number.errors }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="field">
        <label for="">备注</label>
        <div class="ui input icon">
            {{ form.remark }}
        </div>
    </div>
    {% if user.manager %}
    <a class="ui orange button" href="/courses/extra/{{ form.id }}">更多信息</a>
    <div class="ui buttons">
    <button class="ui green button">提交</button>
    <input type="submit" class="ui red button" form="delete_form" value="删除课程"></button>
    </div>
    {% endif %}
</form>
{% if user.manager %}
<form class="ui form" action="/courses/pick/" method="post">
    {% csrf_token %}
    <h4 class="ui dividing header">添加学生</h4>
    <div class="field">
        <label for="">学生学号</label>
        <div class="ui input">
            {{ pick_course_form.student_id }}
        </div>
    </div>
    <div class="field" style="display:none;">
        <input name="course_id" value="{{ form.id }}"">
    </div>
    {% if pick_course_form.errors %}
    <div class="ui message">
        {{ pick_course_form.errors }}
    </div>
    {% endif %}
    {% if pick_course_form.success %}
    <div class="ui message">
        {{ pick_course_form.success }}
    </div>
    {% endif %}
    <button class="ui green button">提交</button>
</form>

<form action="/courses/delete/" method="post" id="delete_form">
    {% csrf_token %}
    <input name="id" value="{{ form.id }}" style="display:none;">
    <div style="display:none;">
    {{ form.name }}
    </div>
</form>
{% endif %}
{% endblock %}

{% block script %}
{% if not user.manager %}
<script>
 $('input').each(function() {
     $(this).attr('readonly', true);
 })
     $('#id_remark').attr('readonly', true);
</script>
{% endif %}
{% endblock %}
