{% extends "base.html" %}
{% block content %}
<table class="ui celled structured table">
    <thead>
        <tr>
            <td></td>
            <th>周一</th>
            <th>周二</th>
            <th>周三</th>
            <th>周四</th>
            <th>周五</th>
            <th>周六</th>
            <th>周日</th>
        </tr>
    </thead>
    <tbody>
    {% for classtime in class_table %}
    <tr>
        <th>{{ forloop.counter }}</th>
        {% for time in classtime %}
        {% if time != None %}
        <td rowspan="{{ time.get_span }}" class="center aligned">{{ time.course }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
