{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="ui message">
    {{ message }}
</div>
{% endif %}
<form class="ui form" action="/courses/pick/" method="post">
    {% csrf_token %}
    <h4 class="ui dividing header">学生选课</h4>
    <div class="field">
        <label for="">课程号</label>
        <select class="ui search dropdown" name="course_id">
            {% for course in courses %}
            <option value="{{ course.id }}">{{ course.id }}: {{ course.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label for="">学生学号</label>
        <div class="ui input icon">
            <i class="add user icon"></i>
            <input name="student_id" type="text" value=""/>
        </div>
    </div>
    <button class="ui green button">提交</button>
</form>

<form class="ui form" action="/courses/drop/" method="post">
    {% csrf_token %}
    <h4 class="ui dividing header">学生退课</h4>
    <div class="field">
        <label for="">课程号</label>
        <select class="ui search dropdown" name="course_id">
            {% for course in courses %}
            <option value="{{ course.id }}">{{ course.id }}: {{ course.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label for="">学生学号</label>
        <div class="ui input icon">
            <i class="add user icon"></i>
            <input name="student_id" type="text" value=""/>
        </div>
    </div>
    <button class="ui green button">提交</button>
</form>
{% endblock %}

{% block script %}
{% if courses %}
<script>
 $('select.dropdown')
          .dropdown()
     ;
</script>
{% endif %}
{% endblock %}
