<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="{% static 'javascript/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'javascript/semantic.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
        <title>{% block title %}{% endblock %} - 选课</title>
    </head>
    <body>
        <div class="ui inverted main menu">
            <div class="container">
                <div class="title item">
                    <b>选课系统</b>
                </div>
                <a class="popup icon item" data-content="回到主页" href="/">
                    <i class="home icon"></i>
                </a>
                <a class="popup icon github item" data-content="项目主页" href="https://github.com/dsdshcym/course-pick">
                    <i class="alternate github icon"></i>
                </a>
                {% if user.is_authenticated %}
                <a class="popup icon item" data-content="退出" href="/accounts/logout/">
                    <i class="sign out icon"></i>
                </a>
                {% endif %}
                <div class="ui right item" style="height:34px;padding-top: 5px;padding-top: 5px;">
                    <form method="get" action="/courses/search/">
                        <div class="ui icon input" style="height:25px">
                            <input class="prompt" type="text" name="q" placeholder="搜索课程" id="search_input">
                            <i class="search icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <footer class="ui black footer menu" style="bottom:0px; top:auto;">
            <div class="right item">&copy;&nbsp;Copyright 2015 <a href="http://dsdshcym.github.io">dsdshcym</a>
            </div>
        </footer>
    </body>

    <script>
     $('.popup').popup();
    </script>

    {% block script %}
    {% endblock %}
</html>
