<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="{% static 'javascript/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'javascript/semantic.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
        <title>{% block title %}{% endblock %} - 选课</title>
    </head>
    <body>
        <div class="ui inverted main menu">
            <div class="container">
                <div class="title item">
                    <b>选课系统</b>
                </div>
                <a class="popup icon github item" data-content="View project on GitHub" href="https://github.com/dsdshcym/course-pick">
                    <i class="alternate github icon"></i>
                </a>
                <div class="ui right item" style="height:34px;padding-top: 5px;padding-top: 5px;">
                    <div class="ui search">
                        <div class="ui icon input" style="height:25px">
                            <input class="prompt" type="text" placeholder="搜索课程">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="ui black footer menu">
            <div class="item">&copy;&nbsp;Copyright 2015 <a href="http://dsdshcym.github.io">dsdshcym</a></div>
        </div>
    </body>

    <script>
     $('.popup').popup();

     $('.ui.search')
        .search({
            apiSettings: {
                url: '/courses/search/{query}'
            }
        })
    </script>

    {% block script %}
    {% endblock %}
</html>
